body {
    
    background-image: url("/img/field.jpg");
    background-color: #cccccc;
    /* background-color: rgb(16, 70, 121); */
}


#blackText{
    color: black;
}


/* text u predpovedi */
p{

    color: rgb(233, 227, 227);
    /* color: rgb(0, 0, 0); */
    /* font-family: "Verdana"; */
    font-family: "Times New Roman";
    font-weight: 700;
    font-size: 20px;
}

/* max teplota */
p1{
    color: rgb(233, 227, 227);
    /* color: rgb(0, 0, 0); */
    font-family: "Copperplate";
    font-weight: 1000;
    font-size: 45px;

}
/* min teplota */
p2{
    color: rgb(139, 134, 134);
    font-family: "Copperplate";
    font-weight: 1000;
    font-size: 25px;

}
/* Text mimo predpoved */
p3{
    color: black;
    font-family: "Times New Roman";
    font-weight: 400;
    font-size: 25px;
}
a1{
    color: black;
    font-family: "Times New Roman";
    font-weight: 400;
    font-size: 25px;
}

a{
    color: black;
    font-family: "Times New Roman";
    font-weight: 400;
    font-size: 12px;
}


h2{
    color: black;

}


#rcorners1 {
    border-radius: 30px;
    background:  rgb(248, 251, 253);

    opacity: 0.9;
    padding: 20px; 
    height: 970px;  
}
#head {
  
    background:  rgb(185, 215, 226);
    

}


#predpoved {
    border-radius: 30px;
    /* background:  rgb(2, 42, 87); */
    background:  rgb(21, 83, 153);
    padding: 20px; 
    height: auto;  
  }